DATABASE_URL="postgresql://user:password@localhost:5432/tvgph?schema=public"
JWT_SECRET="sua_chave_secreta_jwt_aqui"
CLOUDFLARE_R2_ACCOUNT_ID="seu_account_id"
CLOUDFLARE_R2_ACCESS_KEY="seu_access_key"
CLOUDFLARE_R2_SECRET_KEY="seu_secret_key"
CLOUDFLARE_R2_BUCKET_NAME="seu_bucket"
NEXT_PUBLIC_CLOUDFLARE_R2_PUBLIC_URL="" 